* {
    margin:0 auto;
    padding:0;
    box-sizing: border-box;
}

/* blocchi container */
.container {
    position: relative;
    height: 100vh;
}
.container.red {
    background-color: red;
}
.container.green {
    background-color: green;
}
.container.yellow {
    background-color: yellow;
}
/* FINE blocchi container */
   
.container .container-shoes {
    width: 50vw;
    overflow: hidden;       /* evita sfondo bianco durante eccessivo ridimensionamento pagina */
    /* centramento */
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    /* centramento */
}

/* immagine della scarpa */
.container-shoes .shoes-img {
    /* float:left; */
    width: 50vw;
}
/* FINE immagine della scarpa */

/* Tnome della scarpa */
.container-shoes .shoes-title {
    font-size: 3.2em;
    text-transform: uppercase;
    font-family: 'Lilita One', cursive;
    color: yellow;
    font-weight: bold;
    line-height: 1em;
    word-spacing: 1em;
    display: block;
    text-align: center;
}
.container.yellow .container-shoes .shoes-title {
    color: green;
}
/* FINE nome della scarpa */